src/META-INF/wsdl/localhost_8080/LoginServiceFromGit/LoginWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="LoginWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/LoginServiceFromGit/LoginWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="Registrate">
<part name="parameters" element="tns:Registrate"/>
</message>
<message name="RegistrateResponse">
<part name="parameters" element="tns:RegistrateResponse"/>
</message>
<message name="ValUsername">
<part name="parameters" element="tns:ValUsername"/>
</message>
<message name="ValUsernameResponse">
<part name="parameters" element="tns:ValUsernameResponse"/>
</message>
<message name="ValPassword">
<part name="parameters" element="tns:ValPassword"/>
</message>
<message name="ValPasswordResponse">
<part name="parameters" element="tns:ValPasswordResponse"/>
</message>
<message name="ValEmail">
<part name="parameters" element="tns:ValEmail"/>
</message>
<message name="ValEmailResponse">
<part name="parameters" element="tns:ValEmailResponse"/>
</message>
<message name="CheckEmailExist">
<part name="parameters" element="tns:CheckEmailExist"/>
</message>
<message name="CheckEmailExistResponse">
<part name="parameters" element="tns:CheckEmailExistResponse"/>
</message>
<message name="PasswordGen">
<part name="parameters" element="tns:PasswordGen"/>
</message>
<message name="PasswordGenResponse">
<part name="parameters" element="tns:PasswordGenResponse"/>
</message>
<message name="SendPassword">
<part name="parameters" element="tns:SendPassword"/>
</message>
<message name="SendPasswordResponse">
<part name="parameters" element="tns:SendPasswordResponse"/>
</message>
<message name="WelcomeMail">
<part name="parameters" element="tns:WelcomeMail"/>
</message>
<message name="WelcomeMailResponse">
<part name="parameters" element="tns:WelcomeMailResponse"/>
</message>
<message name="ChangePassword">
<part name="parameters" element="tns:ChangePassword"/>
</message>
<message name="ChangePasswordResponse">
<part name="parameters" element="tns:ChangePasswordResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="LoginWebService">
<operation name="Login">
<input wsam:Action="http://Service/LoginWebService/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://Service/LoginWebService/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="Registrate">
<input wsam:Action="http://Service/LoginWebService/RegistrateRequest" message="tns:Registrate"/>
<output wsam:Action="http://Service/LoginWebService/RegistrateResponse" message="tns:RegistrateResponse"/>
</operation>
<operation name="ValUsername">
<input wsam:Action="http://Service/LoginWebService/ValUsernameRequest" message="tns:ValUsername"/>
<output wsam:Action="http://Service/LoginWebService/ValUsernameResponse" message="tns:ValUsernameResponse"/>
</operation>
<operation name="ValPassword">
<input wsam:Action="http://Service/LoginWebService/ValPasswordRequest" message="tns:ValPassword"/>
<output wsam:Action="http://Service/LoginWebService/ValPasswordResponse" message="tns:ValPasswordResponse"/>
</operation>
<operation name="ValEmail">
<input wsam:Action="http://Service/LoginWebService/ValEmailRequest" message="tns:ValEmail"/>
<output wsam:Action="http://Service/LoginWebService/ValEmailResponse" message="tns:ValEmailResponse"/>
</operation>
<operation name="CheckEmailExist">
<input wsam:Action="http://Service/LoginWebService/CheckEmailExistRequest" message="tns:CheckEmailExist"/>
<output wsam:Action="http://Service/LoginWebService/CheckEmailExistResponse" message="tns:CheckEmailExistResponse"/>
</operation>
<operation name="PasswordGen">
<input wsam:Action="http://Service/LoginWebService/PasswordGenRequest" message="tns:PasswordGen"/>
<output wsam:Action="http://Service/LoginWebService/PasswordGenResponse" message="tns:PasswordGenResponse"/>
</operation>
<operation name="SendPassword">
<input wsam:Action="http://Service/LoginWebService/SendPasswordRequest" message="tns:SendPassword"/>
<output wsam:Action="http://Service/LoginWebService/SendPasswordResponse" message="tns:SendPasswordResponse"/>
</operation>
<operation name="WelcomeMail">
<input wsam:Action="http://Service/LoginWebService/WelcomeMailRequest" message="tns:WelcomeMail"/>
<output wsam:Action="http://Service/LoginWebService/WelcomeMailResponse" message="tns:WelcomeMailResponse"/>
</operation>
<operation name="ChangePassword">
<input wsam:Action="http://Service/LoginWebService/ChangePasswordRequest" message="tns:ChangePassword"/>
<output wsam:Action="http://Service/LoginWebService/ChangePasswordResponse" message="tns:ChangePasswordResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Service/LoginWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Service/LoginWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="LoginWebServicePortBinding" type="tns:LoginWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckEmailExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PasswordGen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SendPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="WelcomeMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ChangePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginWebService">
<port name="LoginWebServicePort" binding="tns:LoginWebServicePortBinding">
<soap:address location="http://localhost:8080/LoginServiceFromGit/LoginWebService"/>
</port>
</service>
</definitions>